


/* .parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height:500px;
  width: auto;
  text-align: center;
  font-family: "Trebuchet MS";
  padding: 200px 0 100px 0;
}

  
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 7 / 2; }
.div3 { grid-area: 1 / 2 / 7 / 3; } */


/* .banner {
   
    height:500px;
    width: auto;
    text-align: center;
    font-family: "Trebuchet MS";
    padding: 200px 0 100px 0;
}

.bannerRow {
    columns: 300px 2;
    
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
  float: right;
} */

/* [class*="Main-Col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    .Main-Col-1 {width: 8.33%;}
    .Main-Col-2 {width: 16.66%;}
    .Main-Col-3 {width: 25%;}
    .Main-Col-4 {width: 33.33%;}
    .Main-Col-5 {width: 41.66%;}
    .Main-Col-6 {width: 50%;}
    .Main-Col-7 {width: 58.33%;}
    .Main-Col-8 {width: 66.66%;}
    .Main-Col-9 {width: 75%;}
    .Main-Col-10 {width: 83.33%;}
    .Main-Col-11 {width: 91.66%;}
    .Main-Col-12 {width: 100%;}
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  } */
