
$baseColor: #f7ce36;
$baseTextColor: #241e1e;
$baseHoverColor:#f1f1f1;

$colorsPalette: (
    "baseColor": $baseColor,
    "baseTextColor": $baseTextColor,
    "baseHoverColor": $baseHoverColor
);

$baseFont: "Fira Sans", sans-serif;

$baseRadius: 20px;
$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
