@media (min-width: 500px) {
    .wrapper {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
        height: 700px;
        gap: 10px;
        grid-template-areas:
          "a a b"
          "a a b"
          "a a b"
          "c d d";       
      }
  }

.wrapper img {
    width: 400px;
    margin-top: 25px;
}

.item1 {  
grid-area: a;
background-color: rgb(253, 214, 70);
}
.item2 {
grid-area: b;
background-color: rgb(255, 219, 87);
}
.item3 {
grid-area: c;
background-color: rgb(246, 201, 36);
}
.item4 {
grid-area: d;
background-color: rgb(253, 214, 70);
}